apiVersion: v1
kind: Service
metadata:
  name: keycloak
  labels:
    app: keycloak
spec:
  ports:
  - name: http
    port: 8080
    targetPort: 8080
  selector:
    app: keycloak
  type: NodePort
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: keycloak
  labels:
    app: keycloak
spec:
  replicas: 1
  selector:
    matchLabels:
      app: keycloak
  template:
    metadata:
      labels:
        app: keycloak
    spec:
      containers:
      - name: keycloak
        image: quay.io/keycloak/keycloak:18.0.1
        args: ["start-dev"]
        env:
        - name: KC_LOG_LEVEL
          value: "DEBUG"
        - name: KEYCLOAK_ADMIN
          value: "admin"
        - name: KEYCLOAK_ADMIN_PASSWORD
          value: "admin"
        - name: KC_PROXY
          value: "none"
        - name: PROXY_ADDRESS_FORWARDING
          value: "true"
        - name: KC_DB
          value: "postgres"
        - name: KC_DB_USERNAME
          value: "modelix"
        - name: KC_DB_PASSWORD
          value: "modelix"
        - name: KC_DB_URL
          value: "jdbc:postgresql://db:5432/"
        - name: KC_HOSTNAME
          value: "172.16.2.56"
        - name: KC_HOSTNAME_PORT
          value: "31310"
        ports:
        - name: http
          containerPort: 8080
        readinessProbe:
          httpGet:
            path: /realms/master
            port: 8080
