// TODO attempt at dark mode, as described here: https://bulma.io/2019/10/15/light-dark-colors/ => Looks awful though
// $black: hsl(0, 0%, 4%);
// $black-ter: hsl(0, 0%, 14%);
// $black-bis: hsl(0, 0%, 7%);
// $white: hsl(0, 0%, 100%);
// $white-bis: hsl(0, 0%, 98%);
// $white-ter: hsl(0, 0%, 96%);
// $scheme-main: $black;
// $scheme-invert: $white;
// $scheme-main-bis: $black-bis;
// $scheme-main-ter: $black-ter;
// $scheme-invert-bis: $white-bis;
// $scheme-invert-ter: $white-ter;

$size-1: 1.5rem;
$size-2: 1rem;
$size-3: 0.9rem;
$size-4: 0.85rem;
$size-5: 0.8rem;
$size-6: 0.75rem;
$size-7: 0.7rem;
