@import "@fortawesome/fontawesome-free/css/all.css";
@import "./bulma-overrides.scss";
@import "bulma/bulma.sass";

:root {
  --editor-font-size: #{$size-3};
  --editor-theme: vs-light; /* Other themes can be setup, check out https://editor.bitwiser.in/*/
  --background-color: hsl(0, 0%, 96%);
  --editor-background: hsl(60, 100%, 100%);
  --error-color: hsl(0, 85%, 62%);
  --foreground-color: hsl(0, 0%, 0%);
  --primary-color: hsl(189, 100%, 63%);
  --shadow-color: hsla(0, 0%, 27%, 0.239);
  --scrollbar-color: hsla(0, 0%, 47%, 0.4);
  --warning-color: hsl(49, 100%, 40%);
}

// No full dark mode support yet, so let's leave this
// @media (prefers-color-scheme: dark) {
//   :root {
//     --editor-theme: vs-dark;
//     --background-color: hsl(0, 0%, 23%);
//     --editor-background: hsl(0, 0%, 12%);
//     --foreground-color: hsl(0, 0%, 100%);
//     --shadow-color: hsl(0, 0%, 43%);
//   }
// }

*::-webkit-scrollbar {
  box-shadow: 1px 0 0 0 var(--scrollbar-color) inset;
  width: 14px;
}

*::-webkit-scrollbar-thumb {
  background: var(--scrollbar-color);
}
