**/.mps/workspace.xml

.gradle
/artifacts
.idea/artifacts
/build
/*/build

test_gen
test_gen.caches
classes_gen
source_gen
source_gen.caches

/kubernetes/secrets
/ssl/cert
/mps/org.modelix.ui.server/lib/ui-client.jar
/mps/org.modelix.model.client/lib
/mps/org.modelix.model.api/lib

# modules are configured by gradle
.idea/modules
modules.xml
.DS_Store
.idea/uiDesigner.xml

/modelix.version
**/.mps/cloudResources.xml

!/projector-user-home/**/*
