workspace.xml
classes_gen
source_gen
source_gen.caches
mps/build/tmp
.gradle
artifacts
build
mps/org.modelix.ui.server/lib/ui-client.jar
kubernetes/secrets
test_gen
test_gen.caches
ssl/cert
mps/org.modelix.model.client/lib
