**/.mps/workspace.xml

.gradle
artifacts
build
mps/build

test_gen
test_gen.caches
classes_gen
source_gen
source_gen.caches

kubernetes/secrets
ssl/cert
mps/org.modelix.ui.server/lib/ui-client.jar
mps/org.modelix.model.client/lib

# modules are configured by gradle
.idea/modules
modules.xml
modelix.version
.DS_Store
