
.svgviewer {
  position: relative;

  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;

  .svgEditorImg {
    text {
      text-rendering: optimizeLegibility;
    }
  }

  img.full {
  }

  img.incremental {
    position: absolute;
    left: 0;
    top: 0;
  }

  .connectionStatus {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 5;
    padding: 2px 10px;
    transition: opacity 3.0s ease-in-out;
    opacity: 1;
  }

  .ccmenu {
    position: absolute;
    color: black;
    border: 1px solid #bfc0bf;
    background-color: #e9f4ff;
    overflow-y: scroll;
    max-height: 200px;
    padding-right: 5px;
    font-family: monospace;
    z-index: 10;
    display: none;

    .visibleSelection {
      background-color: #5373af;
      color: #fff;
    }

    .matchingText {
      padding: 0px 10px 0px 3px;
    }

    .description {
      float: right;
      padding: 0px 3px 0px 10px;
    }
  }
}


.intentionsMenu:focus {
  outline: none;
}
.intentionsMenu {
  color: black;
  z-index: 15;
  background-color: white;
  border: 1px solid #acacac;
  position: absolute;
  left: 20px;
  top: 20px;
  box-shadow: 5px 5px 40px 0 rgba(0,0,0,0.5);
  visibility: hidden;

  .title {
    border-bottom: 1px solid #acacac;
    background: linear-gradient(to bottom, #ededed, #cecece);
    font-family: Lucida Grande;
    font-size: 10pt;
    padding: 2px 6px;
    text-align: center;
  }

  .entries {
    min-height: 10px;
    min-width: 200px;
    font-family: Verdana;
    font-size: 10pt;

    .entry {
      padding: 2px 6px;
    }

    .entry.selected {
      background-color: #1055d1;
      color: white;
    }
  }
}

.tooltip {
  color: black;
  z-index: 20;
  background-color: white;
  border: 1px solid #acacac;
  position: absolute;
  padding: 3px;
  left: 20px;
  top: 20px;
  box-shadow: 5px 5px 40px 0 rgba(0, 0, 0, 0.5);
  visibility: hidden;
}