
.svgviewer {
  position: relative;

  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;

  .svgEditorImg {
    text {
      text-rendering: optimizeLegibility;
    }
  }

  img.full {
  }

  img.incremental {
    position: absolute;
    left: 0;
    top: 0;
  }
}