
.new-root-node-dialog {
  &:focus {
    outline: none;
  }
  color: black;
  background-color: white;
  border: 1px solid #acacac;
  box-shadow: 5px 5px 40px 0 rgba(0,0,0,0.5);
  padding: 0;

  .title {
    border-bottom: 1px solid #acacac;
    background: linear-gradient(to bottom, #ededed, #cecece);
    font-family: Lucida Grande;
    font-size: 10pt;
    padding: 2px 6px;
    text-align: center;

    .close-button {
      cursor: pointer;
      float: right;
    }
  }

  .entries {
    min-height: 10px;
    min-width: 200px;
    font-family: Verdana;
    font-size: 10pt;

    .entry {
      padding: 2px 6px;
      cursor: pointer;
      &:hover {
        background-color: #1055d1;
        color: white;
      }
      img {
        margin-right: 3px;
      }
    }
  }
}