body {
    margin: 12px;
    background-color: #212121;
    color: #fff;
}

a:link {
    color: #ccccff;
}

a:visited {
    color: #c0c0ff;
}

a:hover {
    color: #b8e6b8;
}

a:active {
    color: #b8e6b8;
}

.smviewer {
    font-family: Menlo, monospace;
    font-size: 11pt;
    border: 1px solid #555;
    padding: 3px 6px;
    background-color: red;

    &.connected {
        background-color: #424242;
    }

    .relativeLayer {
        position: absolute;
        left: 0;
        top: 0;
    }

    .textCell {
        white-space: nowrap;
        font-family: Menlo, monospace;
        font-size: 11pt;
    }

    .sideTransformCell {
        background-color: #636363;
        border: 1px solid #7f7f7f;
        position: absolute;
    }

    .placeholderText {
        color: #656565;
    }

    .caret {
        position: absolute;
        border-color: #fff;
        border-left: 2px solid;
        width: 3px;
        height: 20px;
        display: none;
        &.own {
            animation: blinker 1s linear infinite;
        }
        &.leftend {
            width: 3px;
            border-bottom: 1px solid;
            border-top: 1px solid
        }
        &.rightend {
            width: 3px;
            background-color: transparent;
            border-left: none;
            border-right: 2px solid;
            border-bottom: 1px solid;
            border-top: 1px solid;
        }
    }

    .selection {
        border: 1px solid #aaa;
        position: absolute;
        background-color: rgba(255, 255, 255, 0.2);
    }

    .ccmenu {
        position: absolute;
        background-color: #2a2a2a;
        background-color: #2a2a2a;
        border: 1px solid #888;
        overflow-y: scroll;
        max-height: 200px;
        white-space: nowrap;
        box-shadow: 5px 5px 40px 0 rgba(0,0,0,0.5);

        .ccSelectedEntry {
            background-color: #707070;
            padding: 0;
        }

        .matchingText {
            padding: 0 10px 0 3px;
            white-space: nowrap;
        }

        .description {
            padding: 0 3px 0 10px;
            white-space: nowrap;
        }

        th, td {
            border: none;
            padding: 3px 6px;
        }
    }

    .cellContainer {
        position: relative;
    }

    .vertical>span {
        display: block;
    }

    table {
        border-collapse: collapse;
        vertical-align: text-top;
    }

    th, td {
        border: 1px solid #fff;
        padding: 3px 6px;
    }
}

:focus .caret, .caret.foreign {
    display: block;
}


.breadcrumbs {
    padding: 6px 6px;
    border: 1px solid #555;
    margin: 0 0 6px 0;
    background-color: #303030;
}

@keyframes blinker {
    from { opacity: 100%; }
    49% { opacity: 100%; }
    50% { opacity: 40%; }
    to { opacity: 40%; }
}