body {
    margin: 12px;
    color:  #000;
}
li{
    display: block;
}

a:link {
    color: #2f2fdf;
}

a:visited {
    color: #2f2fdf;
}

a:hover {
    color: #b8e6b8;
}

a:active {
    color: #b8e6b8;
}

.smviewer {
    font-family: Menlo, monospace;
    font-size: 11pt;
    border: 1px solid #555;
    padding: 3px 6px;
    background-color: red;

    .relativeLayer {
        position: absolute;
        left: 0;
        top: 0;
    }

    .textCell {
        white-space: nowrap;
        font-family: Menlo, monospace;
        font-size: 11pt;
    }

    .sideTransformCell {
        border-width: 1px;
        border-style: solid;
        position: absolute;
    }

    .caret {
        position: absolute;
        border-left: 2px solid;
        width: 3px;
        height: 20px;
        display: block;
        &.own {
            animation: blinker 1s linear infinite;
        }
        &.leftend {
            width: 3px;
            border-bottom: 1px solid;
            border-top: 1px solid
        }
        &.rightend {
            width: 3px;
            background-color: transparent;
            border-left: none;
            border-right: 2px solid;
            border-bottom: 1px solid;
            border-top: 1px solid;
        }
    }

    .selection {
        border-width: 1px;
        border-style: solid;
        position: absolute;
    }

    .ccmenu {
        position: absolute;
        border-width: 1px;
        border-style: solid;
        overflow-y: scroll;
        max-height: 200px;
        white-space: nowrap;
        box-shadow: 5px 5px 40px 0 rgba(0,0,0,0.5);

        .ccSelectedEntry {
            padding: 0;
        }

        .matchingText {
            padding: 0 10px 0 3px;
            white-space: nowrap;
        }

        .description {
            padding: 0 3px 0 10px;
            white-space: nowrap;
        }

        th, td {
            border: none;
            padding: 3px 6px;
        }
    }

    .cellContainer {
        position: relative;
    }

    .vertical>span {
        display: block;
    }

    table {
        border-collapse: collapse;
        vertical-align: text-top;
    }

    th, td {
        border-width: 1px;
        border-style: solid;
        padding: 3px 6px;
    }
}
