{
  "arrowParens": "always",
  "singleQuote": false,
  "printWidth": 120,
  "bracketSameLine": true,
  "trailingComma": "none",
  "tabWidth": 2,
  "useTabs": false,
  "overrides": [
    {
      "files": "*.html",
      "options": {
        "parser": "html"
      }
    }
  ],
  "plugins": [
    "prettier-plugin-organize-imports"
  ]
}