{{- if .Values.workspaces.enabled  -}}
apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    component: instances-manager
    {{- include "modelix.labels" . | nindent 4 }}
  name: "{{ include "modelix.fullname" . }}-instances-manager"
spec:
  revisionHistoryLimit: 5
  replicas: 1
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxUnavailable: 1
      maxSurge: 0
  selector:
    matchLabels:
      component: instances-manager
      {{- include "modelix.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      labels:
        component: instances-manager
        {{- include "modelix.selectorLabels" . | nindent 8 }}
    spec:
      serviceAccountName: "{{ include "modelix.fullname" . }}-sa"
      containers:
      - image: "{{ .Values.dockerProxy.prefix }}modelix/modelix-instances-manager:{{ .Values.imageTags.instancesManager | default .Chart.AppVersion }}"
        imagePullPolicy: IfNotPresent
        name: instances-manager
        env:
          - name: model_server_url
            value: http://{{ include "modelix.fullname" . }}-model:28101/
          - name: WORKSPACE_CLIENT_DEPLOYMENT_NAME
            value: "{{ include "modelix.fullname" . }}-workspace-client"
          - name: WORKSPACE_CLIENT_NAMESPACE
            value: "{{ .Release.Namespace }}"
          - name: WORKSPACE_CLIENT_PREFIX
            value: "{{ include "modelix.fullname" . }}-wsclt-"
          - name: WORKSPACE_CLIENT_IMAGE
            value: "modelix/modelix-workspace-client:{{ .Values.imageTags.wsClient | default .Chart.AppVersion }}"
          {{- include "modelix.keycloakEnv" . | nindent 10 }}
        ports:
        - containerPort: 33332
        - containerPort: 5005
        resources:
          requests:
            memory: "300Mi"
            cpu: "0.1"
          limits:
            memory: "500Mi"
            cpu: "1.0"
        readinessProbe:
          httpGet:
            path: /
            port: 28106
          initialDelaySeconds: 5
          periodSeconds: 5
          timeoutSeconds: 3
        livenessProbe:
          httpGet:
            path: /
            port: 28106
          initialDelaySeconds: 60
          periodSeconds: 15
          timeoutSeconds: 10
      restartPolicy: Always
      {{- include "modelix.pullSecret" . | nindent 6 }}
{{- end -}}
