<?xml version="1.0" encoding="UTF-8" ?>
<configuration debug="true">
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="org.modelix" level="DEBUG">
        <appender-ref ref="console"/>
    </logger>

    <root level="INFO">
        <appender-ref ref="console" />
    </root>
</configuration>