.customer-container {
  border: 0.5px solid hsl(240, 50%, 85%);
  background-color: hsl(60, 50%, 95%);
  box-shadow: 5px 5px 20px 5px hsl(60, 20%, 90%);
  margin: 15px;
  padding: 20px;
  display: inline-block;
  border-radius: 5px;
}
