name: Integration Tests

on:
  push:
    branches:
      - '**'

jobs:
  runIntegrationTests:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1
    - uses: actions/cache@v2.1.5
      with:
        path: |
          ~/.gradle/caches
          ~/.gradle/wrapper
        key: gradle-runIntegrationTests-${{ hashFiles('**/*.gradle*', '**/gradle-wrapper.properties') }}
        restore-keys: |
          gradle-runIntegrationTests-${{ hashFiles('**/*.gradle*', '**/gradle-wrapper.properties') }}
          gradle-runIntegrationTests-
          gradle-
    - name: Set up JDK 11
      uses: actions/setup-java@v1
      with:
        java-version: 11
    - name: Integration Tests
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: ./gradlew -i runIntegrationTests
